.img-thumbnail{
    width: 250px;
    height: 160px;
}

footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid #e8e8e8;
    max-width: 925px;
    margin: 10px auto 0;
    padding: 28px 0 34px;
}